<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ALBUM</key>
	<dict>
		<key>type</key>
		<string>string</string>
		<key>key</key>
		<string>album</string>
	</dict>
	<key>ALBUMARTIST</key>
	<dict>
		<key>type</key>
		<string>string</string>
		<key>key</key>
		<string>albumArtist</string>
	</dict>
	<key>ARTIST</key>
	<dict>
		<key>type</key>
		<string>string</string>
		<key>key</key>
		<string>artist</string>
	</dict>
	<key>COMPILATION</key>
	<dict>
		<key>type</key>
		<string>boolean</string>
		<key>key</key>
		<string>compilation</string>
	</dict>
	<key>COMPOSER</key>
	<dict>
		<key>type</key>
		<string>string</string>
		<key>key</key>
		<string>composer</string>
	</dict>
	<key>DATE</key>
	<dict>
		<key>type</key>
		<string>integer</string>
		<key>key</key>
		<string>year</string>
	</dict>
	<key>DISCNUMBER</key>
	<dict>
		<key>type</key>
		<string>integer</string>
		<key>key</key>
		<string>discNumber</string>
	</dict>
	<key>DISCTOTAL</key>
	<dict>
		<key>type</key>
		<string>integer</string>
		<key>key</key>
		<string>discCount</string>
	</dict>
	<key>GENRE</key>
	<dict>
		<key>type</key>
		<string>string</string>
		<key>key</key>
		<string>genre</string>
	</dict>
	<key>TITLE</key>
	<dict>
		<key>type</key>
		<string>string</string>
		<key>key</key>
		<string>name</string>
	</dict>
	<key>TRACKNUMBER</key>
	<dict>
		<key>type</key>
		<string>integer</string>
		<key>key</key>
		<string>trackNumber</string>
	</dict>
	<key>TRACKTOTAL</key>
	<dict>
		<key>type</key>
		<string>integer</string>
		<key>key</key>
		<string>trackCount</string>
	</dict>
</dict>
</plist>
